<section
class="bg-black h-screen w-screen text-center  overflow-hidden relative"
>
<div>
<header class="z-30 relative h-full flex flex-col">
  <h2 class="text-white pt-40 text-5xl font-medium">Disfrute de Tesla</h2>
  <p class="text-white text-sm ">Programe una prueba de conducción hoy mismo</p>
</header>
</div>
<footer class="z-30 relative flex flex-grow justify-end flex-col">
  <a href="#">Prueba de conducción</a>
</footer>
<div class="absolute top-0 bottom-0 h-full z-10">
  <video class="object-center object-cover h-full" autoplay muted loop src="/video.webm"></video>
</div>
</section>